{% extends 'base.html' %}

{% block container %}
    {% set min_price_tour = tours.values()|min(attribute="price")%}
    {% set max_price_tour = tours.values()|max(attribute="price")%}
    {% set min_nights_tour = tours.values()|min(attribute="nights")%}
    {% set max_nights_tour = tours.values()|max(attribute="nights")%}
    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ direction }}</span></h1>
    <p class="mb-4">Найдено <span data-test="tourcount">{{ tours|length }}</span> туров, от <span
        data-test="pricemin">{{ min_price_tour.price }}</span> до <span
        data-test="pricemax">{{ max_price_tour.price }}</span> и от <span
        data-test="nightsmax">{{ min_nights_tour.nights }}</span> ночей до <span
        data-test="nightsmax">{{ max_nights_tour.nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

      {% for id,tour in tours.items() %}
      <div class="col-4" data-test="card">
        <div class="card mb-3">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
          <div class="card-body">
            <h5 class="card-title">{{ tour.title }}</h5>
            <p class="card-text">{{ tour.description|truncate(45) }}</p>
            <a href="/tours/{{ id }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
  {% endblock %}
